
.container{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin:auto;
    text-align: center;
    display: inline;
    width:300px;
    background-color:black;
    padding:50px;
    border-radius: 15px;;
    color: white;
}
.btn{
    padding: 10px;
    font-size: larger ;
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
    width: 100px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    flex:1;
    
}
h4{
    flex:1;
    left:100%;
}

